@import "../../scss/theme/variables.scss";

#configs-list {
  height: 100%;
  padding-top: 16px;
  padding-bottom: 16px;

  .item-config {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


}
